#container{
    height:900px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid red;
    align-items: flex-start;
    flex-wrap:wrap;
    align-content: space-between;
    
}
.containerTop{
    border: 1px solid red;
    display:block;
    margin-top: 15px;
}
.containerMain{
    border: 1px solid blue;
    display:block;
    margin-left: 15px;
    margin-right: 15px;
}
.containerFooter{
    border: 1px solid green;
    display:block;
    margin-left: 15px;
    margin-right: 15px;
}
.containerMedia{
    border: 1px solid rgb(255, 0, 255);
    display:block;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
